body{
    --f:1;
    --sw:0px;
    min-width:1200px
}
/* H09N9IIL3N1FS24D74NV4Y */
.v1{
    display:inline-block;
    vertical-align:top
}
.ps1{
    position:relative;
    margin-left:226px;
    margin-top:79px
}
.s1{
    min-width:748px;
    width:748px;
    min-height:1023px;
    height:1023px
}
.z1{
    pointer-events:auto
}
.i1{
    position:absolute;
    left:0;
    width:748px;
    height:1023px;
    top:0;
    border:0
}
.ps2{
    position:relative;
    margin-left:70px;
    margin-top:126px
}
.s2{
    min-width:1080px;
    width:1080px;
    min-height:3px;
    height:3px
}
.i2{
    position:absolute;
    left:0;
    min-width:1080px;
    max-width:1080px;
    min-height:3px;
    max-height:3px;
    top:0
}
.ps3{
    position:relative;
    margin-left:43px;
    margin-top:88px
}
.s3{
    min-width:679px;
    width:679px;
    overflow:hidden;
    height:88px
}
.p1{
    text-indent:0;
    padding-bottom:0;
    padding-right:0;
    text-align:left
}
.f1{
    font-family:"Trakya Rounded Alt";
    font-size:60px;
    font-size:calc(60px * var(--f));
    line-height:1.468;
    font-weight:300;
    font-style:normal;
    text-decoration:none;
    text-transform:none;
    letter-spacing:normal;
    color:#0a0f0d;
    background-color:initial;
    text-shadow:none
}
.ps4{
    position:relative;
    margin-left:115px;
    margin-top:79px
}
.s4{
    min-width:991px;
    width:991px;
    overflow:hidden;
    height:316px
}
.p2{
    text-indent:0;
    padding-bottom:0;
    padding-right:0;
    text-align:center
}
.f2{
    font-family:"Trakya Rounded";
    font-size:68px;
    font-size:calc(68px * var(--f));
    line-height:1.442;
    font-weight:300;
    font-style:normal;
    text-decoration:none;
    text-transform:none;
    letter-spacing:normal;
    color:#0a0f0d;
    background-color:initial;
    text-shadow:none
}
.ps5{
    position:relative;
    margin-left:438px;
    margin-top:50px
}
.s5{
    min-width:343px;
    width:343px;
    min-height:115px;
    height:115px
}
.i3{
    position:absolute;
    left:0;
    min-width:342px;
    max-width:342px;
    min-height:115px;
    max-height:115px;
    top:0
}
.ps6{
    position:relative;
    margin-left:59px;
    margin-top:89px
}
.ps7{
    position:relative;
    margin-left:103px;
    margin-top:50px
}
.s6{
    min-width:991px;
    width:991px;
    overflow:hidden;
    height:433px
}
.ps8{
    position:relative;
    margin-left:59px;
    margin-top:88px
}
.ps9{
    position:relative;
    margin-left:166px;
    margin-top:89px
}
.s7{
    min-width:863px;
    width:863px;
    min-height:225px
}
.ps10{
    position:relative;
    margin-left:0;
    margin-top:0
}
.s8{
    min-width:863px;
    width:863px;
    min-height:225px;
    line-height:0
}
.ps11{
    position:relative;
    margin-left:252px;
    margin-top:0
}
.s9{
    min-width:358px;
    width:358px;
    overflow:hidden;
    height:145px
}
.z2{
    z-index:22;
    pointer-events:auto
}
.f3{
    font-family:"Trakya Rounded Alt";
    font-size:60px;
    font-size:calc(60px * var(--f));
    line-height:1.468;
    font-weight:300;
    font-style:normal;
    text-decoration:none;
    text-transform:none;
    letter-spacing:normal;
    color:#ee6c4d;
    background-color:initial;
    text-shadow:none
}
.ps12{
    position:relative;
    margin-left:0;
    margin-top:-8px
}
.s10{
    min-width:863px;
    width:863px;
    overflow:hidden;
    height:88px
}
.z3{
    z-index:16;
    pointer-events:auto
}
.f4{
    font-family:"Trakya Rounded";
    font-size:60px;
    font-size:calc(60px * var(--f));
    line-height:1.468;
    font-weight:300;
    font-style:normal;
    text-decoration:none;
    text-transform:none;
    letter-spacing:normal;
    color:#0a0f0d;
    background-color:initial;
    text-shadow:none
}
.ps13{
    position:relative;
    margin-left:163px;
    margin-top:12px
}
.ps14{
    position:relative;
    margin-left:169px;
    margin-top:121px
}
.s11{
    min-width:861px;
    width:861px;
    min-height:373px
}
.s12{
    min-width:333px;
    width:333px;
    min-height:373px
}
.s13{
    min-width:333px;
    width:333px;
    min-height:373px;
    line-height:0
}
.ps15{
    position:relative;
    margin-left:87px;
    margin-top:0
}
.s14{
    min-width:158px;
    width:158px;
    overflow:hidden;
    height:373px
}
.z4{
    z-index:7;
    pointer-events:auto
}
.f5{
    font-family:"Trakya Rounded Alt";
    font-size:257px;
    font-size:calc(257px * var(--f));
    line-height:1.452;
    font-weight:300;
    font-style:normal;
    text-decoration:none;
    text-transform:none;
    letter-spacing:normal;
    color:#ee6c4d;
    background-color:initial;
    text-shadow:none
}
.ps16{
    position:relative;
    margin-left:0;
    margin-top:-338px
}
.s15{
    min-width:327px;
    width:327px;
    min-height:327px
}
.c2{
    border:3px solid #ee6c4d;
    -webkit-border-radius:83px;
    -moz-border-radius:83px;
    border-radius:83px;
    background-color:#fff
}
.z5{
    z-index:6
}
.ps17{
    position:relative;
    margin-left:185px;
    margin-top:158px
}
.ps18{
    position:relative;
    margin-left:485px;
    margin-top:0
}
.s16{
    min-width:250px;
    width:250px;
    min-height:137px
}
.c3{
    border:0;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
    background-color:transparent
}
.c4{
    display:inline-block;
    position:relative;
    margin-left:0;
    margin-top:0
}
